* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

:root {
    --background-color: white;
    --color-text: black;
}

body {
    background-color: var(--background-color);
    color: var(--color-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: clamp(500px, 60vh, 800px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
}

.presentation-container {
    display: flex;
}

img {
    width: 50%;
}
