* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: white;
    --color-text: black;
}

body {
    background-color: var(--background-color);
    color: var(--color-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
}

.presentation-container {
    display: flex;
}

img {
    /* width: 50vw; */
    height: 60vh;
    object-fit: scale-down;
    flex-grow: 0;
}
